.clients {
	background: black;
}

.clients__about {
	width: 100%;
	padding: 113px 0 140px;

	.clients__title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 42px;
		text-align: center;
		color: #ffffff;
	}

	.clients__subtitle {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		color: #c0c0c0;
		padding-top: 15px;
		padding-bottom: 110px;
	}

	.clients__logo {
		display: flex;
		justify-content: space-around;
	}

	@mixin white-gradient {
		background-color: #000000;
	}

	$animationSpeed: 40s;

	// Animation
	@keyframes scroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-250px * 7));
		}
	}

	// Styling
	.slider {
		background: black;
		box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
		height: 100px;
		margin: auto;
		overflow: hidden;
		position: relative;
		width: 960px;

		&::before,
		&::after {
			@include white-gradient;
			content: "";
			height: 10px;
			position: absolute;
			width: 200px;
			z-index: 2;
		}

		&::after {
			right: 0;
			top: 0;
			transform: rotateZ(180deg);
		}

		&::before {
			left: 0;
			top: 0;
		}

		.slide-track {
			animation: scroll $animationSpeed linear infinite;
			display: flex;
			width: calc(250px * 14);
		}

		.slide {
			height: 100px;
			width: 250px;
		}
	}
}
