.clients {
	background: black;
}

.clients__about {
	width: 100%;
	padding: 113px 0 140px;

	.clients__title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 42px;
		text-align: center;
		color: #ffffff;
	}

	.clients__subtitle {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		color: #c0c0c0;
		padding-top: 15px;
		padding-bottom: 110px;
	}

	.clients__logo {
		display: flex;
		justify-content: space-around;
	}
}
